* {
    font-size: 17px;
    text-decoration: ;
}

:root {
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

a {
    text-decoration: none;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkcyan;
    padding: 30px;   
    /* position: fixed; */
}

header h1 {
    font-size: 200%;
    color:antiquewhite;
    font-family: var(--font);
}

nav ul#header {
    display: flex;
    justify-content: flex-end;
    
}

nav ul#header li a {
    margin: 6px;
    color: antiquewhite;
    font-size: 110%;
    font-family: var(--font);
    border-bottom: 2px solid ;
    padding-bottom: 5px;
}

nav ul#header a:hover {
    color: black;
}

.back-image {
    background-image: url("../assets/Images/header.png");
    background-size: cover;
    background-position: center;
    height: 120px;
    width: 100%;
    margin-bottom: 20px;
}

section h2 {
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
    margin-right: 30px;   

}

.subtitle {
    font-size: 160%;
    color: antiquewhite;
    border: 5px solid ;
    background-color: darkcyan;
    border-radius: 20px;
    padding: 10px;
    font-family: var(--font);
}

.grid-container {
    display: grid;
    grid-template-columns:  1fr 2fr;
    padding: 10px; 
    column-gap: 20px;
    row-gap: 20px;
}

.grid-item {
   margin-right: 5px;
}

#left-side {
    display: flex;
    flex-direction: row-reverse;
    border-right: 2px solid rgb(156, 156, 199);
    font-size: 28px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-right: 20px;
}

h3 {
    font-size: 150%;
    color: blueviolet;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.4;
    text-align: justify;
}

#nested-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    row-gap: 10px;  
    column-gap: 15px;
}


.grid-item#about-me {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 10px;
}

div.profile-photo img{
    width: 216px;
    height: 274px;
    
}

ul.banner {
    position: absolute;
    z-index: 1;
    background-color: aliceblue;
}

.top-image {
    grid-column: 1 / span 2;
    background-image: url(../assets/Images/Space.jpg);
    height: 380px;
    display: flex;
    align-items: flex-end;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

 .top-image:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../assets/Images/Space.jpg);
} 

/* .top-image:hover ul {
    z-index: 1;
} */

div.profile-photo {
    display: flex;
    justify-content: center;
}

.top-image ul, .top-left ul, 
.top-right ul, .bottom-left ul, 
.bottom-right ul {
    text-decoration: none;
    background-color: blanchedalmond;
    font-size: 20px;
    margin: 0 0 20px 5px;
    z-index: 1;
    
}

.top-image a, .top-left a, 
.top-right a, .bottom-left a, 
.bottom-right a{
    color: black
}

.top-image a:hover, .top-left a:hover, 
.top-right a:hover, .bottom-left a:hover, 
.bottom-right a:hover {
    color: blue;
    text-decoration: underline;
}

.top-left {
    background-image: url(../assets/Images/Person_walking.jpeg) ;
    height: 150px;
    display: flex;
    align-items: flex-end;
}

.top-left:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../assets/Images/Person_walking.jpeg);
}

.top-right {
    background-image: url(../assets/Images/purple.jpg) ;
    display: flex;
    align-items: flex-end;
    height: 150px;
}

.top-right:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../assets/Images/purple.jpg);
}

.bottom-left {
    height: 150px;
    background-image: url(..//assets/Images/Deutsch.jpeg);
    display: flex;
    align-items: flex-end;
}

.bottom-left:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../assets/Images/Deutsch.jpeg);
}

.bottom-right {
    background-image: url(..//assets/Images/Blue.jpeg);
    display: flex;
    align-items: flex-end;
    height: 150px;
    
}

.bottom-right:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../assets/Images/Blue.jpeg);
}

nav.footer ul li {
    display: flex;
    align-items: center ;
    justify-content: space-around;
}

nav.footer ul a {
    margin: 20px;
    color: black;
    border-bottom:  1px solid blue;
    padding-bottom: 5px;
}

nav.footer ul a:hover {
    color: blue;
}

@media screen and (max-width:661px) {
  
    header {
        display: flex;
        justify-content: center;
    }

    header h1 {
        margin-bottom: 10px;
    }
   
    header li {
        margin: 10px;
    }

    .grid-item#about-me {
        display: flex;
        flex-direction: column;
    }

    .grid-container {
        max-width: 661px;
        display: grid;
        grid-template-columns: auto; 
      }
    
      div#nested-grid {
        display: flex;
        flex-direction: column;
       }
     
    div#left-side.grid-item {
        display: flex;
        justify-content: center;
    }

    div.profile-photo {
        display: flex;    
        justify-content:  center;
        margin-top: 10px;
        }

    
}

@media screen and (max-width: 485px) {
    nav ul#header {
        flex-direction: column;
    }
}


@media screen and (max-width: 425px) {
    
    
    h1, h2, h3 {
        color: brown;
        
    }

    nav ul#header {
        flex-direction: column;
    }
   
    h1 {
    margin-bottom: 10px;
    margin-right: 20px ;
  }

    header {
    justify-content: center;
   }
   
    li {
    margin: 10px;
   }

    .grid-container {
     max-width: 425px;
     display: grid;
     grid-template-columns: auto; 
   }

    .grid-item#about-me {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

   div#nested-grid {
    display: flex;
    flex-direction: column;
   }
    
   div.profile-photo {
    display: flex;    
    justify-content: center;
    }

    img {
        margin: 10px;
    }
   div#left-side.grid-item {
    justify-content: center;
   }
   
   nav.footer ul li {
    flex-direction: column;
   }
   
}

@media screen and (max-width: 768px) {

    nav.footer ul li {
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 390px) {

    section.back-image  {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    span.subtitle {
        margin-bottom: 50px;
    }
    
}

@media screen and (max-width: 320px) {

    h1.name {
        display: flex;
        justify-content: center;
        margin-left: 58px;
    }

    section.back-image  {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    /* Why I can´t center it? */
    span.subtitle { 
        margin-bottom: 50px;
    }

     a {
        font-size: 13px;
        
    }

    div.profile-photo {
        display: flex;
        justify-content: center;
    }
}


    
